<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BMI</title>
    <link rel="stylesheet" href="../stylesheets/form.css" />
  </head>

  <body>
    <div class="form-box">
      <h2>BMI</h2>
      <form action="/api/bmi" method="post">
        <div class="user-box">
          <input type="number" name="Weight" required="" />
          <label>Weight (KG) </label>
        </div>
        <div class="user-box">
          <input type="number" name="Height" required="" />
          <label>Height (M)</label>
        </div>
        <a href="#">
          <span></span>
          <span></span>
          <span></span>
          <span></span> <input type="submit">
        </a>
      </form>
    </div>
  </body>
</html>
