<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/form.css" />
  </head>

  <body>
    <div class="form-box">
      <h2>BMI</h2>
      <form>
        <div class="user-box">
          <input type="number" name="" required="" />
          <label>weight (KG) </label>
        </div>
        <div class="user-box">
          <input type="number" name="" required="" />
          <label>height (M)</label>
        </div>
        <a href="#">
          <span></span>
          <span></span>
          <span></span>
          <span></span> calculate
        </a>
      </form>
    </div>
  </body>
</html>
