<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calorie Heist</title>
    <!-- Imports -->
    <link rel="stylesheet" href="../stylesheets/home.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>

    <!--Header-->
    <div class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="navbar-header">
                        <button class="navbar-toggle" data-target="#mobile_menu" data-toggle="collapse">
                <span class="icon-bar"></span><span class="icon-bar"></span
                ><span class="icon-bar"></span>
              </button>
                        <a href="#" class="navbar-brand">Calorie Heist</a>
                    </div>

                    <div class="navbar-collapse collapse" id="mobile_menu">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="http://localhost:8000/api/home">Home</a></li>
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">About Us <span class="caret"></span
                  ></a>
                                <ul class="dropdown-menu">
                                    <li><a href="https://www.linkedin.com/in/priya-kumari-431a09201/" target="_blank">Priya Kumari</a></li>
                                    <li><a href="https://www.linkedin.com/in/jainendradwivedi/" target="_blank">Jainendra Dwivedi</a></li>
                                    <li><a href="https://www.linkedin.com/in/ansh-singh-cse-mnnit/" target="_blank">Ansh Singh</a></li>
                                </ul>
                            </li>
                            <li><a href="https://ng-fitness-tracker-c1aba.web.app/login" target="_blank">Fitness Tracker</a></li>
                            <li><a href="http://localhost:8000/api/bmi" target="_blank">BMI</a></li>
                        </ul>
                        <ul class="nav navbar-nav">
                            <li>
                                <form action="" class="navbar-form">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="search" name="search" id="" placeholder="Search Anything Here..." class="form-control" />
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span
                        ></span>
                                        </div>
                                    </div>
                                </form>
                            </li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="#" target="_blank"><span class="glyphicon glyphicon-user"></span>Profile</a
                  >
                </li>
                <li>
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                    ><span class="glyphicon glyphicon-log-in"></span>Settings
                    <span class="caret"></span
                  ></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Logout</a></li>
                                    <li><a href="#">Sample</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- content -->
    <div class="calorie-table">
        <div class="calorie-table-header">
            <img class="header-image" src="../images/food.jpg" alt="oops sorry" style="width: 100;">
            <h1 class="centre">CALORIE-HEIST</h1>



            <!--CalorieApi-->
            <div class="centred">



                <form action="/api/getData" method="post">
                    <input type="text" name="foodItem">
                    <button type="submit">get nutrients</button>
                </form>
            </div>
        </div>

    </div>
    </div>

    <div class="health-articles">
        <h4>Articles</h4>
        <div class="article1">
            <a href="https://www.helpguide.org/articles/healthy-eating/healthy-eating.htm" style="text-decoration: none; color: black">Healthy Eating</a
        >
      </div>
      <div class="article1">
        <a
          href="https://joybauer.com/food-articles/"
          style="text-decoration: none; color: black"
          >Benifits of different food items</a
        >
      </div>
    </div>
  </body>
</html>
