<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/form.css" />
  </head>

  <body>
    <div class="form-box">
      <h2>Login</h2>
      <form method="post" action="/api/signin">
        <div class="user-box">
          <input type="text" name="email" required="" id="email" />
          <label>Email</label>
        </div>
        <div class="user-box">
          <input type="password" name="password" required="" id="password" />
          <label>Password</label>
        </div>
        <a href="#">
          <span></span>
          <span></span>
          <span></span>
          <span></span> <input type="submit" value="LOGIN" />
        </a>
        <a href="http://localhost:8000/api/signup">
          <span></span>
          <span></span>
          <span></span>
          <span></span> Create Account</a
        >
      </form>
      <!-- Google Login  -->
      <!-- Signin button  -->
      <meta
        name="google-signin-client_id"
        content="USER_ID_jd se mango.apps.googleusercontent.com"
      />
      <div
        class="g-signin2"
        data-onsuccess="onSignIn"
        data-scope="https://www.googleapis.com/auth/plus.login"
        data-accesstype="offline"
        data-redirecturi="http://localhost:8000/api/signup"
      ></div>
      <!-- sign out button  -->
      <a href="#" onclick="signOut();">Sign out</a>
    </div>

    <!-- scripts -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="../public/javascripts/GoogleSignin.js"></script>
    <!-- Signout -->
    <script>
      function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
          console.log("User signed out.");
        });
      }
    </script>
  </body>
</html>
