<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
    <link rel="stylesheet" href="../stylesheets/form.css" />
  </head>

  <body>
    <div class="form-box">
      <h2>Signup</h2>
      <form method="post" action="/api/signup">
        <div class="user-box">
          <input type="text" name="name" required="" id="name" />
          <label>Name</label>
        </div>
        <div class="user-box">
          <input type="text" name="email" required="" id="email" />
          <label>Email</label>
        </div>
        <div class="user-box">
          <input type="password" name="password" required="" id="password" />
          <label>Password</label>
        </div>
        <a href="">
          <span></span>
          <span></span>
          <span></span>
          <span></span><input type="submit" value="SIGN UP">
        </a>
      </form>
    </div>
  </body>
</html>
